*{
	position: relative;
	margin: 0px;
}
.back_btn{
	width: 100px;height: 100px;
	position: absolute;
	left: 100px;
	top:100px;
	border-radius: 100%;
	background-color: #f57cf9;
	border: solid 0.1px #c4c4c4;
	box-shadow: 0px 18px 25px rgba(0,0,0,0.2);
}
.back_text{
	position: absolute;
	left:50%;top:50%;
	transform: translate(-50%,-50%);
}
a{		cursor: pointer;
		text-decoration:none
	}