{
	/*border: solid 2px red;*/
	font-family: 微軟正黑體;
	position: relative;
	cursor: default;
}

html,body{
  width: 1550px;
  padding: 0px; margin: 0px;
  height: auto;
  box-sizing: border-box;
}
body {
	margin-top:0px;
	background-color: #F5F5DC;
}
ul{
	margin-top:0px;
}
h2{
  cursor: pointer;
}
.title{
  padding:0px;
  margin: 60px;
  text-align: center;
  font-size:50px;
  letter-spacing: 10px;
}
.button{
	display: inline-block;
  	padding-left: 12px;
  	padding-right: 12px;
  	margin-left: 0px;
  	margin-right:10px;

  	/*border:solid  4px purple;*/

    font-size: 35px;

  	cursor: pointer;
}
.button:hover{
	border-bottom:solid 6px #FFFFFF;
	-webkit-transition-duration: 1s;
}
.label{
	margin:0px;
	/*background-color: #c6c2c2;*/
	font-weight: 500;
	letter-spacing: 3px;
}
.data{
  overflow: hidden;
}
img{
  /*width: 800px;
  height:200px;*/
  border-radius: 10px;
  display:block; 
  margin:auto;
}
.dot{
  border-bottom:solid 2px #332e2e;
  margin: 0px;
