*{
	/*border: solid 2px red;*/
	font-family: 微軟正黑體;
	position: relative;
	cursor: default;
}

html,body{
  width: 1550px;
  padding: 0px; margin: 0px;
  height: auto;
  box-sizing: border-box;
}
body {
	margin-top:0px;
	background-color: skyblue;
}
ul{
	margin-top:0px;
	background-color: mediumpurple;
}
h2{
  cursor: pointer;
}
.title{
  padding:0px;
  margin: 60px;
  text-align: center;
  font-size:50px;
  letter-spacing: 15px;
}
.button{
	display: inline-block;
  	padding-left: 90px;
  	padding-right: 90px;
  	margin-left: 0px;
  	margin-right:10px;

  	/*border:solid  4px purple;*/
  	border-bottom:solid 10px purple;
    width: 4%;

  	cursor: pointer;
}
.button:hover{
	border-bottom:solid 10px mediumpurple;
	-webkit-transition-duration: 1s;
}
.label{
	margin:0px;
	background-color: mediumpurple;
	font-weight: 500;
	letter-spacing: 10px;
}
.img{
  width: 1200px;
  height:450px;
  border:10px solid mediumpurple;
  border-radius: 10px;
}
.dot{
  border-bottom:solid 8px;
  border-left:solid 5px;
  margin: 0px;
  width: 200px;
}
.right_box{
  display: inline-block;
  position: absolute;
  top:0px;
  right: -500px;
  margin-top: 5px;
}
.button_list{
  display: inline-block;
  position: absolute;
  right: 5px;
  top:40px;
  cursor: pointer;

  width: 100px;
  height: 100px;
  background-color: #c276e8;
  border-bottom:solid 10px #7e3da0;
  border-right:solid 5px #944aba;
  border-left:solid 3px #c86ff7;
  border-top:solid 2px #d587ff;
  border-radius: 15px;
}
.button_list:focus {
  outline: none;
}
